body {
  background-color: lightgray;
}

nav {
  display: flex;
  justify-content: space-around;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.active-link {
  font-weight: bold;
  color: black;
}

h1 {
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}

p {
  text-align: center;
  width: 600px;
}

#home-msgs,
#store-msgs,
#login-msgs {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#home-msgs > p,
#store-msgs > p,
#login-msgs > p {
  width: auto;
}