nav {
  height: 50px;
  padding: 20px;
  background-color: navajowhite;
  display: flex;
  align-items: center;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
}